doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/style.css')
    title Películas
    
  body
    h1 Películas
      // El formulario tiene que tener siempre un método y un action,
      // En este caso como queremos hacer una petición POST a /film,
      // necesitamos poner como atributos de la etiqueta:
      form#form(method='POST', action='/film')
        input#search(type='text', name='titulo', placeholder='Introduce película')
        //Para controlar un formulario el ultimo input tiene que ser de type submit
        //por que vamos a detener el comportamiento por defecto de esta acción
        input#boton(type='submit' name='boton', value="Buscar")
  

  script(src="../public/js/script.js")