doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/style.css')
    title Películas
    
  body
    h1 Películas
      form#form
        input#search(type='text' placeholder='Introduce película')
        input#boton(type='button' name='boton' value="Buscar")
  
  script(src="../public/js/script.js")